
body {
    background-color: #f8f9fa;
}
h1, h2, h3, h4 {
    color: #b30000;
}
.navbar {
    background-color: #b30000;
}
.navbar-brand, .nav-link, .navbar-text {
    color: white !important;
}
.btn-outline-danger {
    border-color: #b30000;
    color: #b30000;
}
.btn-outline-danger:hover {
    background-color: #b30000;
    color: white;
}
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
